{% extends 'base.html.twig' %}

{% block title %}Aufgabe erledigt - {{ parent() }}{% endblock %}

{% block body %}
<div class="text-center py-5">
    <i class="bi bi-check-circle display-1 text-success"></i>
    <h3 class="mt-3">Aufgabe wurde erfolgreich als erledigt markiert.</h3>
</div>
{% endblock %}
